<template>
  <div class="hello">
    <h1>Intellitix</h1>
    <h2>{{ msg }}</h2>
  </div>
</template>

<script>
export default {
  name: 'Template',
  data () {
    return {
      msg: 'Cordova-Vue Template'
    }
  }
}
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
</style>
